

.drawer-content { 
    color:black;
    font-size: 40px;
    padding-top: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    
  
}

.forecast_item{
    float: left;
    margin-right: 0;
   text-align: center;
    

}
.forecast{
     justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 52px;
}

.weekly_forecast{
   margin-top: 10px;
    margin-bottom: 29px;
    text-align: center;
    font-size: 49px;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {

.drawer-content { 
 
    font-size: 28px;
    padding-top: 2px;
    display: block;
    justify-content: center;
    align-items: center;
  
}

.weekly_forecast{
   margin-top: 10px;
    margin-bottom: 29px;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
}

.forecast{
     justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}
.forecast_item{
    float:inline-start;
    margin-right: 0;
   text-align: center;
    margin-bottom: 30px;

}

}